# Set theme
remote_theme: daviddarnes/alembic@main

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji
- jekyll-remote-theme

# Site settings
url: 'https://munitquest.github.io/' #unsure where this shows
baseurl: ''
title: 'MUnitQuest'
description: 'MUnitQuest Dataset Submission'
permalink: pretty
logo: "https://raw.githubusercontent.com/MUnitQuest/MUnitQuest.github.io/refs/heads/main/Images/logo.jpg" # logo in top left 

# Pagination
paginate: 5 # number of blog posts shown at once 
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: /
- title: Timeline
  url: /timeline/
- title: Data Submission
  url: /dataSubmission/
- title: Rules
  url: /rules/
- title: About
  url: /about/
- title: FAQ
  url: /faq/
- title: Legal Notice
  url: /legalNotice/

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top" # always leads to "home" tab, even when clicked while in other tab 

# Collections
collections:
  posts:
    title: FAQ
    output: true
    description: "Frequently asked questions"
    feature_text: |
      Welcome to FAQ
    feature_image: "https://raw.githubusercontent.com/MUnitQuest/MUnitQuest.github.io/refs/heads/main/Images/headerImage.jpg"

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages
